services:
 db:
   image: postgres:17
   ports:
     - "5432:5432"
   volumes:
     - postgres_data:/var/lib/postgresql/data
 
 django-web:
   build: .
   container_name: django-docker
   ports:
     - "8000:8000"
   depends_on:
     - db
   environment:
     DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
     DEBUG: ${DEBUG}
     DJANGO_LOGLEVEL: ${DJANGO_LOGLEVEL}
     DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}
     DATABASE_NAME: ${POSTGRES_DB}
     DATABASE_USERNAME: ${POSTGRES_USER}
 
     DATABASE_PASSWORD: ${POSTGRES_PASSWORD}
     DATABASE_HOST: 'db' 
     DATABASE_PORT: 5432 
   volumes:
     - ./shortener/:/app

volumes:
   postgres_data:

